extends layout 

block content 
    h1= title 
    form(action="", method="post")
        label Name 
            br
            input(type="text", name="name" required)
        br
        label Description 
            br
            input(type="text", name="description" required)
        br
        label Category 
            br
            select(name="category" required)
                each category in categories 
                    option(value=category._id) #{category.name}
        br
        label Price
            br
            input(type="text", name="price" required)
        br
        label Number in Stock 
            br
            input(type="number", name="number_in_stock" required)
        br
        input(type="submit", value="Create")